@font-face {
    font-family: 'Trebuchet MS';
    src: url('../fonts/Merriweather-Regular.otf') format('truetype');
    font-style: normal;
 }
 @font-face {
    font-family: 'sans-serif';
    src: url('../fonts/abel-regular.ttf') format('truetype');
    font-weight: 700;
 }
